<div class="stepsdemo-content">
    <p-toast></p-toast>
    <p-card>
        <ng-template pTemplate="title">
            Upload your image
        </ng-template>
        <ng-template pTemplate="content">
            <p-fileUpload name="demo[]" url="./upload.php" accept="image/*" (onUpload)="onBasicUpload($event)"></p-fileUpload>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>