<p-card header="user summary" styleClass="p-card-shadow">
    <div class="grid p-fluid">
        <div class="field col-6">
            <strong>Name: </strong><span>{{selectedUser.name}}</span>
        </div>
        <div class="field col-6">
            <strong>Username: </strong><span>{{selectedUser.username}}</span>
        </div>
        <div class="field col-6">
            <strong>Email: </strong><span>{{selectedUser.email}}</span>
        </div>
        <div class="field col-6">
            <strong>Phone: </strong><span>{{selectedUser.phone}}</span>
        </div>
        <div class="field col-6">
            <strong>Website: </strong><span>{{selectedUser.website}}</span>
        </div>
    </div>
</p-card>